---
import type { CollectionEntry } from 'astro:content'
import Header from '../components/Header.astro'

import { formatDate } from '../utils/formatDate'
import Layout from './Layout.astro'

interface Props {
	post: CollectionEntry<'blog'>
}

const {lang} = Astro.params

const props = Astro.props
const { title, date, tags, image } = props.post.data
const formattedDate = formatDate(date)
---

<Layout title={title}  lang={lang === 'es' ? 'es_ES' : 'en'}>
	<Header />
	<section class="my-8">
		<h1 class="text-3xl font-bold">{title}</h1>
		<p class="text-gray-500 mt-1">{formattedDate}</p>
		<div class="my-2 flex flex-wrap gap-1">
			{
				tags.map((tag) => (
					<span class="whitespace-nowrap rounded-full  px-2.5 py-0.5 text-xs  bg-purple-600 text-purple-100">
						{tag}
					</span>
				))
			}
		</div>

		{image && <img src={image} alt={title} class="my-4" />}
	</section>
	<slot />


  
</Layout>

<style is:global>
	*{
		@apply text-white
	}
	#content {
		font-size: 1rem;
		padding: 0.2rem 0;
	}
	#content h1 {
		font-size: 1.75rem;
		padding: 1rem 0;
		font-weight: 700;
	}
	#content h2 {
		font-size: 1.5rem;
		padding: 1rem 0;
		font-weight: 600;
	}
	#content h3 {
		font-size: 1.3rem;
		padding: 1rem 0;
		font-weight: 600;
	}
	#content h4 {
		font-size: 1.25rem;
		padding: 1rem 0;
		font-weight: 600;
	}
	#content h5 {
		font-size: 1.25rem;
		padding: 1rem 0;
		font-weight: 600;
	}
	#content h6 {
		font-size: 1.25rem;
		padding: 1rem 0;
		font-weight: 600;
	}
	#content p {
		font-size: 1rem;
		line-height: 1.5;
		padding: 0.5rem 0;
	}
	#content a {
		color: #6c63ff;
		@apply text-purplePrimary;
		text-decoration: none;
	}
	#content a:hover {
		color: #6c63ff;
		text-decoration: underline;
	}
	#content ul {
		list-style: disc;
		padding-left: 1rem;
	}
	#content ol {
		list-style: decimal;
		padding-left: 1rem;
	}
	#content li {
		margin-bottom: 0.5rem;
	}
	#content blockquote {
		border-left: 0.25rem solid #6c63ff;
		padding-left: 1rem;
	}
	#content pre {
		border-radius: 0.3rem;
		padding: 1rem;
		font-size: 1.125rem;
		margin: 1rem 0;
	}
	#content code {
		border-radius: 0.25rem;
		font-size: inherit;
		line-height: 0.1;
	}
</style>
